.menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .2s;
    &:hover {
        background-color: #4a4f52;
    }
    i {
        line-height: inherit;
    }
}

.logo {
    margin-left: 45px;
    margin-top: 15px;
    display: inline-block;
    img {
        height: 42px;
    }
}

@media screen and (max-width: 1024px) {
    .menu-button {
        display: inline-block;
    }
}