<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="SmdCn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="search" type="application/opensearchdescription+xml" href="https://www.ourocg.cn/opensearch.xml" title="游戏王卡片查询" />

    <!-- CSRF Token -->
    <meta name="csrf-token" content="Wdmp9J0jzpk8PrMzJh7HqUzFtjIXaQa1wQzaylib">

    <title>幻木龙 - 我们的OCG - 游戏王卡片查询 在线版网页卡查 - OurOcg - OCG卡牌|卡片资料|卡片查询</title>
    <link href="https://www.ourocg.cn/modules/outdatedbrowser/outdatedbrowser.min.css" rel="stylesheet">
    <script src="https://www.ourocg.cn/modules/outdatedbrowser/outdatedbrowser.min.js"></script>

    <!-- Styles -->
    <link href="https://static.ourocg.cn//css/app.css?id=38494d66620eca307be9" rel="stylesheet">

                <meta name="keywords"    content="幻木龙,幻木龍,Mythic Tree Dragon,　　　　,　　　　,效果,游戏王调整,mycard,ygocore,ygopro,卡片效果,游戏王卡片,网页卡查">
    
            <meta name="description" content="游戏王卡片[幻木龙]最新资料效果与调整。">
            <link rel="canonical" href="https://www.ourocg.cn/card/9vsoz8">
    </head>
<body>
    <div id="app">
        <header>
            <div class="nav-bar"><div class="container">
                <div class="logo"><a href="/"></a></div>
                <nav class="menu">
                    <div class="menu-item"><a href="https://www.ourocg.cn/advance">查询</a></div>
                    <div class="menu-item"><a href="https://www.ourocg.cn/package">卡包</a></div>
                    <div class="menu-item"><a href="https://www.ourocg.cn/pages/manual">帮助</a></div>
                    <div class="menu-item"><a href="http://bbs.newwise.com/thread-907107-1-1.html" target="_blank">新大师规则</a></div>
                    <div class="menu-item"><a href="http://blog.ocgsoft.cn/?page_id=83" target="_blank">反馈</a></div>
                </nav>
                <div class="header-mobile-menu"><header-mobile-menu></header-mobile-menu></div>
            </div></div>
            <div class="tool-bar">
                <div class="container">
                    <header-search-bar></header-search-bar>
                    <ul class="menu">
                        <li><a href="https://www.ourocg.cn/card/list-5/1" data-divided="true">全部卡片</a></li>
                        <li><a href="https://www.ourocg.cn/card/list-1/1">全部怪兽</a></li>
                        <li><a href="https://www.ourocg.cn/card/list-2/1">全部魔陷</a></li>
                        <li><a href="https://www.ourocg.cn/Limit-Latest">禁限卡表</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="container">
                                    <div class="main-wrapper">
                            <div class="card-view">
        <div class="card-container">
            <h1 class="title no-underline">

                                    <template v-if="text_version === 'cn'">幻木龙 </template>
                    <template v-if="text_version === 'nw'">幻木龙</template>
                    <div v-if="text_version == ''">幻木龙</div>
                    <span>
                                                幻木龍 |
                                                                            Mythic Tree Dragon |
                                                50457953
                </span>
                            </h1>
            <div class="card-panel">
                <nav class="panel-nav">
                        <nav class="cur"><a>信息</a></nav>
    <nav ID="nav-adjust" style="display: none" @click="evtHander('jumpToAdjust')"><a>调整</a></nav>
        <nav><a href="https://www.ourocg.cn/card/9vsoz8/wiki">百科</a></nav>
                    </nav>
                <div class="panel-content">
                        <div class="main-table">
        <article class="detail"><div class="card el-row">
                                <div class="el-col-xs-24
                                    el-col-sm-8 el-col-sm-push-16
                                    el-col-md-6 el-col-md-push-18 text-center" style="border-top:1px solid #999;">
                    <div class="img">
                        <div style="width: 99%; height: 180px; background: url('http://ocg.resource.m2v.cn/6003.jpg') center center no-repeat; background-size: contain;" alt="幻木龍" title="幻木龙的卡图"></div>
                    </div>
                </div>
                <div class="head el-col-xs-6 el-col-sm-4 el-col-sm-pull-8 el-col-md-pull-6">中文名</div>
                <div class="val el-col-xs-18 el-col-sm-12 el-col-md-14 el-col-sm-pull-8 el-col-md-pull-6">
                    <template v-if="text_version == 'cn'" >幻木龙 </template>
                    <template v-if="text_version == 'nw'">幻木龙 </template>
                    <span v-if="text_version == ''">幻木龙</span>
                </div>
                <div class="clearfix visible-xs"></div>

                <div class="head el-col-xs-6 el-col-sm-4 el-col-sm-pull-8 el-col-md-pull-6">日文名</div>
                <div class="val el-col-xs-18 el-col-sm-12 el-col-md-14 el-col-sm-pull-8 el-col-md-pull-6">
                                            幻木龍
                                    </div>
                <div class="clearfix visible-xs"></div>


                <div class="head el-col-xs-6 el-col-sm-4 el-col-sm-pull-8 el-col-md-pull-6">英文名</div>
                <div class="val el-col-xs-18 el-col-sm-12 el-col-md-14 el-col-sm-pull-8 el-col-md-pull-6">
                                            Mythic Tree Dragon
                                    </div>
                <div class="clearfix visible-xs"></div>


                <div class="head el-col-xs-6 el-col-sm-4 el-col-sm-pull-8 el-col-md-pull-6">卡片种类</div>
                <div class="val el-col-xs-18 el-col-sm-12 el-col-md-14 el-col-sm-pull-8 el-col-md-pull-6">
                                            <span>怪兽</span>
                                            <span>效果</span>
                                    </div>
                <div class="clearfix visible-xs"></div>

                <div class="head el-col-xs-6 el-col-sm-4 el-col-sm-pull-8 el-col-md-pull-6">卡片密码</div>
                <div class="val el-col-xs-18 el-col-sm-12 el-col-md-14 el-col-sm-pull-8 el-col-md-pull-6">
                                            50457953
                                    </div>
                <div class="clearfix visible-xs"></div>

                <div class="head el-col-xs-6 el-col-sm-4 el-col-sm-pull-8 el-col-md-pull-6">使用限制</div>

                <div class="val el-col-xs-8 el-col-sm-6 el-col-sm-pull-8 el-col-md-6 el-col-md-pull-6">
                    无限制
                </div>
                <div class="val el-col-xs-10 el-col-sm-6 el-col-sm-pull-8 el-col-md-8 el-col-md-pull-6">
                                    </div>

                <div class="clearfix"></div>

                                    <div class="head el-col-xs-6 el-col-sm-4 ">种族</div>
                    <div class="val el-col-xs-6 el-col-sm-4">龙</div>
                    <div class="head el-col-xs-6 el-col-sm-4 ">属性</div>
                    <div class="val el-col-xs-6 el-col-sm-4">地</div>
                    <div class="clearfix visible-xs"></div>
                                            <div class="head el-col-xs-6 el-col-sm-4 ">
                                                            星级
                                                    </div>
                        <div class="val el-col-xs-18 el-col-sm-4">4</div>

                        <div class="clearfix visible-xs"></div>

                        <div class="head el-col-xs-6 el-col-sm-4 ">攻击力</div>
                        <div class="val el-col-xs-6 el-col-sm-4"> 100</div>


                        <div class="head el-col-xs-6 el-col-sm-4 ">防御力</div>
                        <div class="val el-col-xs-6 el-col-sm-12">1400</div>
                                                    <div class="clearfix"></div>
                                <div class="full el-col-24">
                    <div class="el-row">
                        <div class="head el-col-xs-6 el-col-sm-4 ">罕见度</div>
                        <div class="val el-col-xs-18 el-col-sm-20">平卡N</div>
                        <div class="clearfix visible-xs"></div>
                    </div>
                </div>
                
                                <div class="full el-col-24">
                    <div class="el-row">
                        <div class="head el-col-xs-6 el-col-sm-4 ">卡包</div>
                        <div class="val el-col-xs-18 el-col-sm-20">SHSP(806)</div>
                        <div class="clearfix visible-xs"></div>
                    </div>
                </div>
                                <div class="clearfix"></div>
                <div class="head el-col-24 text-center">效果</div>
                <div class="val el-col-24 effect">
                    <template v-if="text_version == 'cn'">
                        1回合1次，可以选择自己场上的1只龙族·水属性怪兽发动。这张卡的等级变为与选择的怪兽的等级相同。
                    </template>
                    <template v-if="text_version == 'nw'">
                        1回合1次，选择自己场上1只　龙族　·水属性怪兽才能发动。这张卡的等级变成和选择的怪兽的等级相同。
                    </template>
                    <span v-if="text_version == ''">
                        1回合1次，选择自己场上1只　龙族　·水属性怪兽才能发动。这张卡的等级变成和选择的怪兽的等级相同。
                    </span>
                </div>
                <div class="clearfix"></div>

                                <div class=" hidden-xs">
                    <div class="head el-col-24 text-center">
                        <strong>收录详情</strong>
                        <span @click="evtHander('togglePackTable')" style="cursor:pointer; float:right; padding-right: 10px;font-size: 16px; font-weight:bold">[+]</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="packtable" ID="pack_table">
                        <table style="width:100%" ID="pack_table_main"><tbody>
                            <tr><th colspan="2">卡包</th><th>罕见度</th></tr>
                            <tr></tr>
                                                            <tr><td><a href="/package/MP14-EN/QYSYo">2014 MEGA-TINS MEGA PACK</a><br><small>2014-08-29</small></td><td>MP14-EN134</td><td>Normal</td></tr>
                                                            <tr><td><a href="/package/SHSP-EN/aZSEn">SHADOW SPECTERS</a><br><small>2013-11-08</small></td><td>SHSP-EN010</td><td>Normal</td></tr>
                                                            <tr><td><a href="/package/SHSP/aZSQl">SHADOW SPECTERS [ シャドウ・スペクターズ ]</a><br><small>2013-07-20</small></td><td>SHSP-JP010</td><td>Normal</td></tr>
                                                            <tr><td><a href="/package/SHSP/eJSX3">シャドウ・スペクターズ [ SHADOW SPECTERS ]</a><br><small>2013-07-20</small></td><td>SHSP-JP010</td><td>Normal</td></tr>
                                                        </tbody>
                        </table>
                    </div>
                </div>
                            </div>
                        <div class="wiki" ID="adjust">
                <ul>
                                            <li>事务局FAQ（中文调整）：<a href="https://www.ourocg.cn/card/9vsoz8/wiki" style="color:darkred;font-weight:bold"  alt="幻木龙的调整" title="幻木龙的调整" >(查看此卡WIKI信息与调整)</a><br/>
                            <strong style='color:red'>中文调整信息仅供参考，争议内容建议参阅WIKI中的原文。<br />若您发现中文FAQ中存在错误，可以在
                                <a href="http://blog.ocgsoft.cn/archives/345" target="_blank">这里</a>
                                向我们反馈。
                            </strong>
                        </li><li>　　　　</li>
                                    </ul>
            </div>
        </article>
    </div>
                </div>
            </div>

        </div>
    </div>
                    </div>
                    <div class="sidebar-wrapper">
                            <section class="ali">
    <hgroup class="fn-clear">
        <h3 style="font-size:16px">卡片选购</h3>
        <small style="font-weight:bold;font-size:14px;line-height:2em">
            以下信息由淘宝提供，简体中文卡均为盗版，请慎重选购
        </small>
    </hgroup>
    <a data-type="2" biz-keyword="游戏王 日版 SHSP" data-tmpl="290x380" data-tmplid="10" data-rd="2" data-style="2" data-border="1" href="#">游戏王 日版 SHSP</a>
</section>

<section class="imgs">
    <p><img src="https://static.ourocg.cn/images/WeChat.jpg" /></p>
</section>
<section class="panel hidden-xs">
    <hgroup class="fn-clear"><h2>关注我们</h2></hgroup>
    <iframe width="100%" height="600" class="share_self"  frameborder="0" scrolling="no" src="https://widget.weibo.com/weiboshow/index.php?language=&width=0&height=600&fansRow=2&ptype=1&speed=0&skin=6&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=2236432647&verifier=f873c807&dpc=1"></iframe>
</section>
                    </div>
                            </div>
        </div>

        <footer id="footer">
            <div class="container">
                <div class="row hidden-xs">
                    <section class="info">
                        <h2>联系我们</h2>
                        <ul class="row">
                            <li><a href="http://blog.ocgsoft.cn" target=_blank>团队日志</a></li>
                            <li><a href="https://weibo.com/ourocg" target="_blank">新浪微博</a></li>
                        </ul>
                    </section>
                    <section class="info">
                        <h2>获取帮助</h2>
                        <ul class="row">
                            <li><a href="https://www.ourocg.cn/pages/manual">使用帮助</a></li>
                            <li><a href="https://www.ourocg.cn/pages/manual#advHelp">搜索语法</a></li>
                            <li><a href="http://blog.ocgsoft.cn/?page_id=83" target=_blank>问题反馈</a></li>
                            <!--<li><a href="/about/copyright.html" target=_blank>版权声明</a></li>-->
                        </ul>
                    </section>
                    <section class="info">
                        <h2>友情链接</h2>
                        <ul class="row">
                            <li><a href="http://www.duelcn.com" target="_blank">iDuel 决斗社区</a></li>
                            <li><a href="http://www.duelist.cn" target="_blank">DUELIST 决斗志</a></li>
                            <li><a href="http://fecipher.card.moe" target="_blank">火纹0在线卡查</a></li>
                            <li><a href="http://vgcard.yimieji.com" target="_blank">先导者卡牌资料</a></li>
                            <li><a href="https://www.ourocg.cn/friend-site">更多链接</a></li>
                        </ul>
                    </section>
                </div>
                <div class="row copyright" style="line-height: 28px;">
                    <div class="text">
                        <span>Copyright &copy; 2008-2019 OurOcg 游戏王网页卡查 V4.0.0
                            <span style="color:#ee1111; font-size: 12px">beta</span> by <a href="https://blog.smdcn.net" target=_blank>SmdCn</a>
                        </span>
                        <span id="importantshow">游戏王决斗卡片资料查询，卡组分享</span>
                    </div>
                    <div class="hidden-xs beian" style="margin-right: 10px;"><a href="http://www.miibeian.gov.cn" style="color:grey">闽ICP备05007645号</a> </div>
                    <div style="float:right"><el-button size="mini" round @click="text_version_dialog=true">翻译版本 {{ text_version_text }}</el-button></div>
                </div>
            </div>
        </footer>
        <text-version-dialog
                :text-version="text_version"
                :show-dialog="text_version_dialog"
                v-on:display_change="text_version_dialog_display"
                v-on:text_version_change="text_version_change"
        ></text-version-dialog>

    </div>
    <div id="outdated"></div>
    <script>
        window.onload = function() {
            outdatedBrowser({ bgColor: '#f25648', color: '#ffffff', lowerThan: 'IE11',
                languagePath: 'https://www.ourocg.cn/modules/outdatedbrowser/lang/zh-cn.html'
            })
        }
    </script>
        <script>
        window.__HANDER__ = {};
                var adjustNav = document.getElementById('nav-adjust');
        adjustNav.style.display = "block";
        window.__HANDER__.jumpToAdjust = function () {
            var adjustArea = document.getElementById('adjust');
            var scrollTopTo = adjustArea.offsetTop;
            document.documentElement.scrollTop = document.body.scrollTop = adjustArea.offsetTop;
        }
        
                (function(window) {
            var packtable = document.getElementById('pack_table');
            var packtablemain = document.getElementById('pack_table_main');
            if (packtablemain && packtable) {
                var packtableheight = packtablemain.clientHeight;
                var packtableshow = true;
                if (packtableheight > 500) {
                    packtableshow = false;
                }
                function updatePackable() {
                    packtable = document.getElementById('pack_table');
                    if (!packtableshow) {
                        packtable.style.height = "0px";
                    } else {
                        packtable.style.height = packtableheight + "px";
                    }
                }
                window.__HANDER__.togglePackTable = function () {
                    packtableshow = !packtableshow;
                    updatePackable();
                }
                updatePackable()
            }
        }(window));
            </script>

    <!-- Scripts -->
    <script src="https://static.ourocg.cn//js/manifest.js?id=2d315777967b6001bcf1"></script>
    <script src="https://static.ourocg.cn//js/vendor.js?id=6cc08c8c826d17d8fc48"></script>
    <script src="https://static.ourocg.cn//js/app.js?id=eac09575db2a009a5541"></script>
    <script type="text/javascript" src="//tajs.qq.com/stats?sId=9950244" charset="UTF-8"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script type="text/javascript">
        (function(win,doc){
            var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
            if (!win.alimamatk_show) {
                s.charset = "gbk";
                s.async = true;
                s.src = "https://alimama.alicdn.com/tkapi.js";
                h.insertBefore(s, h.firstChild);
            };
            var o = {
                pid: "mm_14170279_6432402_22264137",/*推广单元ID，用于区分不同的推广渠道*/
                appkey: "12106724",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
                unid: "",/*自定义统计字段*/
                type: "click" /* click 组件的入口标志 （使用click组件必设）*/
            };
            win.alimamatk_onload = win.alimamatk_onload || [];
            win.alimamatk_onload.push(o);
        })(window,document);
    </script>
    </body>
</html>
