<p-table [value]="packages" [scrollable]="true" scrollHeight="flex" [(selection)]="selectedPackages">
    <ng-template pTemplate="caption">
        <p-selectButton [options]="cardSources" [(ngModel)]="selectedCardSource" (click)="selCardSource()"></p-selectButton>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:4%;text-align: center;">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>序号</th>
            <th style="width:40%;">卡包名称</th>
            <th style="width:40%;">卡包路径</th>
            <th style="width:10%;">操作</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pack>
        <tr>
            <td class="table-check-box">
                <p-tableCheckbox [value]="pack"></p-tableCheckbox>
            </td>
            <td class="table-package-seq">
                <span>{{pack.seq}}</span>
            </td>
            <td style="width:40%;">
                <span class="ui-column-title">卡包名称</span>
                {{pack.name}}
            </td>
            <td style="width:40%;">
                <span class="ui-column-title">卡包路径</span>
                {{pack.uri}}
            </td>
            <td style="width:10%;" (click)="selectPackage(pack.uri)">
                <button pButton type="button" icon="pi pi-arrow-circle-down" styleClass="ui-button-icon" style="color:yellowgreen"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4" style="text-align:left;background-color:aquamarine"><i class="pi pi-exclamation-triangle" style="margin-right: 5px;padding-top: 2px;"></i>暂无卡包信息</td>
        </tr>
    </ng-template>
</p-table>